.position{
    display: grid;
    margin-right: auto;
    font: monospace;

}

.rounded-circle {
    display:grid;
    margin-left: 0%;
    margin-right:90%;
    width: 50;
    border-radius: 120px 20px 120px 20px;
    right: 0px;
    width: 300px;
    padding: 10px;
}

.myycontact {
    display: inline-block;
    margin-right: auto;
    margin-left: 0%;
    width: 25%;
    height: 25%;


}

.About{
    display: block;
    margin-right: auto;
    
}